@using TrackEase.Models
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">

    @if (GlobalState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />


@code {
    private GlobalState _globalState = new();
    private void LogoutHandler()
    {
            Navigation.NavigateTo("/login");
      
            GlobalState.CurrentUser = null; 
    }
}
